<div class="container">
	<div class="well">
		<div class="row">
			<h1>Some More Info About <%= @user.first_name %></h1>

			<%= image_tag @user.image, size:"150x150" %>

			<div class="signupform">
				<p>This user's name is <%= @user.first_name %> <%= @user.last_name %>, and his/her email is <%= @user.email %> </p>

				<%= render 'layouts/usercontrol' %>


			</div>
		</div>
	</div>
</div>
