<h1><%= @user.first_name %></h1>

<%= image_tag @user.image %>

<div class="signupform">
<p>This user's name is <%= @user.first_name %> <%= @user.last_name %>, and his/her email is <%= @user.email %> </p>

<span>

<%= render 'layouts/usercontrol' %>

</div>