<h1>EDIT AN EVENT</h1>

<center>
	<div class="signupform">
		<%= form_for @event do |f| %>
		<% if @event.errors.any? %>
		<div class="error messages">
			<h2>Form is Invalid</h2>
			<ul>
				<% for message in @event.errors.full_messages %>
				<li><%= message %></li>
				<% end %>
			</ul>
		</div>
		<% end %>
		<p>
			<%= f.label :name %><br />
			<%= f.text_field :name %>
		</p>
		<p>
			<%= f.label :place %><br />
			<%= f.text_field :place %>
		</p>
		<p>
			<%= f.label :when %><br />
			<%= f.text_field :when %>
		</p>
		<p>
			<%= f.label :price %><br />
			<%= f.text_field :price %>
		</p>
		<p>
			<%= f.label :short_description %><br />
			<%= f.text_field :short_description %>
		</p>
		<p>
			<%= f.label :description %><br />
			<%= f.text_field :description %>
		</p>
		<p>
			<%= f.label :starter1 %><br />
			<%= f.text_field :starter1 %>
		</p>
		<p>
			<%= f.label :starter2 %><br />
			<%= f.text_field :starter2 %>
		</p>
		<p>
			<%= f.label :starter3 %><br />
			<%= f.text_field :starter3 %>
		</p>
		<p>
			<%= f.label :entree1 %><br />
			<%= f.text_field :entree1 %>
		</p>
		<p>
			<%= f.label :entree2 %><br />
			<%= f.text_field :entree2 %>
		</p>
		<p>
			<%= f.label :entree3 %><br />
			<%= f.text_field :entree3 %>
		</p>
		<p>
			<%= f.label :dessert1 %><br />
			<%= f.text_field :dessert1 %>
		</p>
		<p>
			<%= f.label :dessert1 %><br />
			<%= f.text_field :dessert1 %>
		</p>
		<p>
			<%= f.label :dessert2 %><br />
			<%= f.text_field :dessert2 %>
		</p>
		<p>
			<%= f.label :dessert3 %><br />
			<%= f.text_field :dessert3 %>
		</p>
		<p>
			<%= f.label :drink %><br />
			<%= f.text_field :drink %>
		</p>
		<p class="button"><%= f.submit %></p>
		<% end %>
	</div>
	<%= link_to "Delete This Event", :event, method: :delete %>

	<br>
	<%= link_to "back to the list of events!", events_path %>

</center>
