<div class="container">
	<div class="row">
		<div class="well">
			<h1 class="text-center">Upcoming Events</h1>
			<div class="list-group">
				<% @events.each do |s| %>
				<a class="list-group-item ">
					<div class="media col-md-3">
						<figure class="pull-left">
							<img class="media-object img-rounded img-responsive"  src="http://placehold.it/350x250" alt="placehold.it/350x250" >
						</figure>
					</div>
					<div class="col-md-6">
						<h2 class="list-group-item-heading"> <%= s.name %> </h2>
						<p class="list-group-item-text"> 
							<%= s.short_description %>
						</p>
						<div class="participants">
							<p class="list-group-item-text">
								<h3>Check Out Who's Going</h3>
							</div>

						</div>

						<div class="col-md-3 text-center">
							<h2> <%= s.when %> <small> $<%= s.price %>.00 </small></h2>	
							<button type="button" class="btn btn-default btn-lg btn-block"> More Info </button>
							<%= link_to "Attend", events_attend_path(s.id), method: :post %>
							<button type="button" class="btn btn-warning btn-lg btn-block"> Join </button>
						</div>
						<%= link_to "More Info", event_path(s), class: "btn btn-default btn-md" %>
						
						<% end %>


					</a>
				</div>
			</div>
		</div>
	</div>
</div>	

