<div class="container">
	<div class="row">
		<div class="well">
			<h1 class="text-center">Upcoming Events</h1>
			<div class="list-group">
				<% @events.each do |s| %>
				<a class="list-group-item ">
					<div class="media col-md-3">
						<figure class="pull-left">
							<img class="media-object img-rounded img-responsive"  src="http://placehold.it/300x240" alt="placehold.it/450x250" >

						</figure>
					</div>
					<div class="col-md-6">
						<h2 class="list-group-item-heading"> <%= s.name %> </h2>
						<p class="list-group-item-text"> 
							<%= s.short_description %>
						</p>
						<div class="col-md-3 text-center">
							
							
						</div>

						<!-- <div class="participants"> 
							 <p class="list-group-item-text"> --> 
								<h3>Check Out Who's Going</h3>
								<div class="participantimages">
								<% s.attendees.each do |k| %>

								<%= image_tag(User.find(k.user_id).image, size:"80x80" ) %>

								<% end %>
								
							</div>

						</div>
						<h2><%= s.when %></h2>
						<h3>$<%= s.price %>.00</h3>
						
						<%= button_to "Attend", events_attend_path(s.id), method: :post, class: "btn btn-warning btn-lg"  %>
					

						<%= button_to "More Info", event_path(s), class: "btn btn-default btn-lg", :method => :get %>
						<% if current_user.is_admin %>
						<%= button_to "Edit", edit_event_path(s), class: "btn btn-warning btn-lg", :method => :get  %>				
						<% end %>
						<% end %>
					</a>
					
				</div>
			</div>
		</div>
	</div>
</div>	