<h1>NEW EVENT</h1>

<center>
	<div class = "newusercontainer">
	<%= form_for @event do |f| %>

	<p class="signupfield">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</p>
	<p class="signupfield">
		<%= f.label :place %><br />
		<%= f.text_field :place %>
	</p>
	<p class="signupfield">
		<%= f.label :when %><br />
		<%= f.text_field :when %>
	</p>
	<p class="signupfield">
		<%= f.label :price %><br />
		<%= f.text_field :price %>
	</p>
	<p class="signupfield">
		<%= f.label :short_description %><br />
		<%= f.text_field :short_description %>
	</p>
	<p class="signupfield">
		<%= f.label :description %><br />
		<%= f.text_field :description %>
	</p>
	<p class="signupfield">
		<%= f.label :starter1 %><br />
		<%= f.text_field :starter1 %>
	</p>
	<p class="signupfield">
		<%= f.label :starter2 %><br />
		<%= f.text_field :starter2 %>
	</p>
	<p class="signupfield">
		<%= f.label :starter3 %><br />
		<%= f.text_field :starter3 %>
	</p>
	<p class="signupfield">
		<%= f.label :entree1 %><br />
		<%= f.text_field :entree1 %>
	</p>
	<p class="signupfield">
		<%= f.label :entree2 %><br />
		<%= f.text_field :entree2 %>
	</p>
	<p class="signupfield">
		<%= f.label :entree3 %><br />
		<%= f.text_field :entree3 %>
	</p>
	<p class="signupfield">
		<%= f.label :dessert1 %><br />
		<%= f.text_field :dessert1 %>
	</p>
	<p class="signupfield">
		<%= f.label :dessert1 %><br />
		<%= f.text_field :dessert1 %>
	</p>
	<p class="signupfield">
		<%= f.label :dessert2 %><br />
		<%= f.text_field :dessert2 %>
	</p>
	<p class="signupfield">
		<%= f.label :dessert3 %><br />
		<%= f.text_field :dessert3 %>
	</p>
	<p class="signupfield">
		<%= f.label :drink %><br />
		<%= f.text_field :drink %>
	</p>
	<%= f.file_field :image %> <br />

	<%= f.submit %></p>
<% end %>